@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: orange;
}

.tank {

    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    width: 13.333%;
    height: 60px;
    margin: none;
    padding: none;
    outline: none;
    border: none;
    background: rgb(0, 140, 220);
    font-size: 22px;

}

#tank {
    width: 40%;
    position: absolute;
    left: 5%;
    bottom: 25%;
}
#ground {
    width: 60%;
    position: absolute;
    left: 0;
    top: 75%;
}
#ground2 {
    width: 60%;
    position: absolute;
    left: 60%;
    top: 75%;
}

#tankpanel {
    position: absolute;
    overflow: hidden;
    width: 40%;
    height: 60%;
    display: block;
    left: 0;
    background: rgb(100, 200, 130);
}
#tankpanel:after {
    content: 'ARROWS TO MOVE, SPACE TO SHOOT';
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(60, 70, 20);
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
}

#rotate {
    position: absolute;
    left: 40%;
    top: 0%;
}
.info {
    position: absolute;
    left: 40.5%;
    top: 250px;
}

.selected {
    background: rgb(0, 200, 255);
}

.tank:hover {
    background: rgb(0, 190, 245);
}
